body {
    margin: 3vw;
    background-color: blanchedalmond;
}

h1 {
    font-family: broadsheet, serif;
    font-style: italic;
}

h3 {
    font-family: broadsheet, serif;
    margin-top: -1vw;
    font-style: italic;
}

p {
    font-family: broadsheet, serif;
    font-style: italic;
}